<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
  
</head>
<body>

  <main>
    <div class="w-[1440px] h-[1024px] relative bg-stone-300">
    <div class="w-[895px] h-[634px] left-[190px] top-[123px] absolute">
    </div>
    <div class="w-[1021.33px] h-[352.59px] left-[331px] top-[367px] absolute bg-neutral-100 bg-opacity-0">
        <div class="w-[372px] h-[142px] left-[22px] top-[227px] absolute text-black text-[50px] font-normal font-['AmazObitaemOstrovItalic']">PROGRAMMER<br/>Ui/UX DEsigner</div>
    </div>
    <div class="w-[327px] h-[143px] left-[1071px] top-[208px] absolute text-white text-[55px] font-normal font-['AmazObitaemOstrovItalic']">M Ferrari<br/>firmansyah</div>
    <div class="w-[540px] h-[960px] left-[642px] top-[62px] absolute">
        <div class="w-[850.21px] h-[1593.09px] left-[-155.18px] top-[-297.97px] absolute">
            <div class="w-[857.22px] h-[1603.20px] left-[-3.51px] top-[-5.05px] absolute">
                <img class="w-[647.69px] h-[1505.19px] left-[214.22px] top-[5.05px] absolute origin-top-left rotate-[9.13deg]" src="https://via.placeholder.com/648x1505" />
                <img class="w-[647.69px] h-[1505.19px] left-[214.22px] top-[5.05px] absolute origin-top-left rotate-[9.13deg]" src="https://via.placeholder.com/648x1505" />
            </div>
        </div>
        <div class="w-[446px] h-[62px] left-[317px] top-[-45px] absolute bg-white rounded-[89px]"></div>
    </div>
    <div class="left-[984px] top-[29px] absolute text-black text-[50px] font-normal font-['Elevator']">want to know me more?</div>
    <div class="w-[330px] h-[292px] left-[1068px] top-[680px] absolute bg-white bg-opacity-70 rounded-[89px]"></div>
    <div class="w-[634px] h-[226px] left-[30px] top-[772px] absolute bg-white rounded-[89px]"></div>
    <div class="w-[326px] h-[152px] left-[1068px] top-[820px] absolute bg-white rounded-[89px]"></div>
    <div class="w-[143px] h-[697px] left-[30px] top-[23px] absolute bg-white rounded-[89px]"></div>
    <div class="w-[100px] h-[100px] left-[52px] top-[48px] absolute bg-white rounded-full"></div>
    <img class="w-[100px] h-[100px] left-[52px] top-[48px] absolute" src="https://via.placeholder.com/100x100" />
    <div class="w-[276px] h-[100px] left-[1116px] top-[711px] absolute text-black text-3xl font-normal font-['Segoe UI']">Tuesday,<br/>08 Desember 2023</div>
    <div class="w-[442px] h-[152px] left-[1085px] top-[846px] absolute text-black text-[80px] font-normal font-['Crimson Text']">08:19 PM </div>
    <div class="w-[530px] h-[170px] left-[112px] top-[800px] absolute text-black text-[40px] font-normal font-['Electrolize']">iám student in Universitas PGRI Kanjuruhan Malang. <br/>Iám CEO and Founder Macroma Media.</div>
    <div class="w-[107px] h-[135px] left-[48px] top-[561px] absolute bg-neutral-100 rounded-[66px]"></div>
    <img class="w-[100px] h-[100px] left-[48px] top-[579px] absolute" src="https://via.placeholder.com/100x100" />
</div>
<style>// PROGRAMMER<br/>Ui/UX DEsigner
  text-black
  text-[50px]
  font-normal
  font-['AmazObitaemOstrovItalic']
  ---
  // M Ferrari<br/>firmansyah
  text-white
  text-[55px]
  font-normal
  font-['AmazObitaemOstrovItalic']
  ---
  // want to know me more?
  text-black
  text-[50px]
  font-normal
  font-['Elevator']
  ---
  // Tuesday,<br/>08 Desember 2023
  text-black
  text-3xl
  font-normal
  font-['Segoe
  UI']
  ---
  // 08:19 PM 
  text-black
  text-[80px]
  font-normal
  font-['Crimson
  Text']
  ---
  // iám student in Universitas PGRI Kanjuruhan Malang. <br/>Iám CEO and Founder Macroma Media.
  text-black
  text-[40px]
  font-normal
  font-['Electrolize']</style>
  </main>
</body>
</html>
